</div>

<div class="jumbotron">
  <div class="container">
    <h1><strong>Set:List</strong></h1>
    <h2>Sort your set out</h2>
    <div class="center-p">
      <%= link_to 'Tunes', tunes_path, class: "btn btn-default btn-large center-p" %>
      <%= link_to 'Gigs', gigs_path, class: "btn btn-default btn-large center-p" %>
    </div>
  </div>
</div>