</div>

<div class="jumbo">
  <div class="container" style="margin-bottom: 30px;">
    <h1><strong>Set:List</strong><br>
    <small style="color: #808080;">Sort your set out</small></h1>
  </div>
  <div class="container">
    <div>
      <%= link_to 'Tunes', tunes_path, class: "btn btn-default btn-large btn-block static_button" %>
      <%= link_to 'Gigs', gigs_path, class: "btn btn-default btn-large btn-block static_button" %>
      <%= link_to 'Videos', videos_path, class: "btn btn-default btn-large btn-block static_button" %>
    </div>
  </div>
</div>